#tfcalculator-tc .bondCodeDropdown .prepend-icon {
    margin-left: -2rem;
    color: black;
}

#tfcalculator-tc .hasDatepicker {
    width: 14rem;
}

#tfcalculator-tc input {
    vertical-align: middle;
}

#tfcalculator-tc select {
    vertical-align: top;
}

#tfcalculator-tc .width-auto {
    width: auto;
}

#tfcalculator-tc .row {
    margin: 0;
    padding: 0;
}

    #tfcalculator-tc .row > span,
    #tfcalculator-tc .row > div {
        /*line-height: 4rem;*/
    }

#tfcalculator-tc .form-label {
    padding: 0;
    text-align: right;
    white-space: nowrap;
}

    #tfcalculator-tc .form-label:before {
    }

    #tfcalculator-tc .form-label:after {
        margin: 0 3px;
        content: "\003a";
    }

#tfcalculator-tc .form-label-nosign:after {
    margin: 0;
    content: "";
}

#tfcalculator-tc .form-value {
    text-align: left;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}

    #tfcalculator-tc .form-value input[type=number] {
        vertical-align: middle;
        width: 7rem;
        text-align: right;
        line-height: normal;
    }

    #tfcalculator-tc .form-value > .form-label {
        padding-left: 15px;
    }

    #tfcalculator-tc .form-value > div {
        padding: 0;
    }

#tfcalculator-tc .tc-header {
}

#tfcalculator-tc .row-strong-tag {
    text-align: center;
}

    #tfcalculator-tc .row-strong-tag > div {
        height: 8rem;
    }

        #tfcalculator-tc .row-strong-tag > div > button {
            margin: 2rem 0.5rem;
            width: 15rem;
            height: 4rem;
            -ms-border-radius: 2rem;
            border-radius: 2rem;
            cursor: default;
        }

#tfcalculator-tc .row-4-col {
    display: flex;
    text-align: center;
    padding: 0 10%;
}

    #tfcalculator-tc .row-4-col > div {
        -ms-flex: 1;
        -webkit-flex: 1;
        flex: 1;
    }

    #tfcalculator-tc .row-4-col .subrow {
        display: flex;
        text-align: center;
    }


    #tfcalculator-tc .row-4-col > div .form-label {
        text-align: left;
        padding-left: 20%;
    }

    #tfcalculator-tc .row-4-col > div .form-value {
        text-align: right;
        padding-right: 20%;
    }

    #tfcalculator-tc .row-4-col > div .form-label,
    #tfcalculator-tc .row-4-col > div .form-value {
        -ms-flex: 1;
        -webkit-flex: 1;
        flex: 1;
    }

#tfcalculator-tc .tc-header button {
    line-height: 2rem;
    padding: 0 20px;
    margin: 0 10px 0 0;
}

#tfcalculator-tc #tcResultList .row:first-child {
    border-top: 1px solid black;
}

#tfcalculator-tc #tcResultList table {
    width: 100%;
}

    #tfcalculator-tc #tcResultList table th,
    #tfcalculator-tc #tcResultList table td {
        text-align: right;
    }

    #tfcalculator-tc #tcResultList table tr {
        line-height: 2.5rem;
    }

        #tfcalculator-tc #tcResultList table th:last-child,
        #tfcalculator-tc #tcResultList table tr > td:last-child {
            padding-right: 20px;
        }

    #tfcalculator-tc #tcResultList table tbody > tr > td:first-child {
        width: 5%;
    }

    #tfcalculator-tc #tcResultList table tbody > tr > td:nth-child(2) {
        width: 5%;
    }

#tfcalculator-tc #tcResultList .row span {
    line-height: 2.5rem;
}

#tfcalculator-tc #tcResultList .row button {
    line-height: 2rem;
    padding: 0 20px;
}


#tfcalculator-tc nav.button-nav {
    line-height: 1.7rem;
}

    /* ReSharper disable UnknownCssVendorExtension */
    #tfcalculator-tc nav.button-nav > button {
        position: relative;
        display: inline-block;
        padding: 3px 25px;
        line-height: 1.7rem;
        -ms-border-bottom-left-radius: 0;
        border-bottom-left-radius: 0;
        -ms-border-bottom-right-radius: 0;
        border-bottom-right-radius: 0;
        margin-left: 2px;
    }
/* ReSharper restore UnknownCssVendorExtension */

#tfcalculator-tc .search-box-directive .dropdown-menu {
    -ms-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -ms-border-top-right-radius: 0;
    border-top-right-radius: 0;
    margin-top: -12px;
}

@media screen and (max-width: 1366px) {
    #tfcalculator-tc .hasDatepicker {
        width: 10rem;
    }

    #tfcalculator-tc .tc-header .form-value {
        width: auto;
    }

    #tfcalculator-tc .tc-header > .form-value:last-child {
        padding-left: 15px;
    }

    #tfcalculator-tc .row-4-col {
        padding: 0 5%;
    }

        #tfcalculator-tc .row-4-col > div .form-label {
            padding-left: 10%;
        }

        #tfcalculator-tc .row-4-col > div .form-value {
            padding-right: 10%;
        }
}

