<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="true"
	xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
	    <layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" 
		  value="[%t] %d{yyyy-MM-dd HH:mm:ss},%-5p,%C - %m%n" />
	    </layout>
	</appender>
	
	<appender name="daily" class="org.apache.log4j.DailyRollingFileAppender">
	    <layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" 
		 		 value="[%t] %d{yyyy-MM-dd HH:mm:ss},%-5p,%C - %m%n" />
	    </layout>
	    <file value ="log/dif.log" />
	     <param name="DatePattern" value="'.'yyyy-MM-dd" />
	</appender>

	<!-- 异步输出 -->
	<appender name ="ASYNC" class= "ch.qos.logback.classic.AsyncAppender">
		<!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
		<discardingThreshold >0</discardingThreshold>
		<!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
		<queueSize>10000</queueSize>
		<!-- 添加附加的appender,最多只能添加一个 -->
		<appender-ref ref ="daily"/>
	</appender>

	<root>
		<level value="INFO" />
		<appender-ref ref="console" />
		<appender-ref ref="ASYNC" />
	</root>

</log4j:configuration>
